# Introduction to Data Science
## Homework 2

Student Name: Yiran Xu

Student Netid: yx1350
***

# Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

# Answer for Part 1
Business Goal: Identify women that are pregnant before the release of public birth records.
Motivation: 
Not only pregnant women will buy a lot of new things, they are also expected to change their shopping patterns around the birth of a child.  There are chances that they will start buying everything in one store instead of buying different things at different store. Thus, if Target can send specialized ads to those pregnant women, those women might end up buying everything in Target and being a loyal customer for years. 

However, since birth records are usually public, it is crucial for Target to identify pregnant women before the release of public birth records. Otherwise, pregnant women will get so many advertising flyers that the one from Target could be easily ignored. 

Data Prediction Proposal:
This is a supervised classification problem. 
Data Prediction goal: predict whether an individual is pregnant or not. 
The target variable is pregnant or not. If the value of the target variable is yes, we know this woman is pregnant. If the value is no, we know this woman is not pregnant.
The potential features could be age, educational level, employed or unemployed, married or not, recent shopping records, whether there is a change in grocery shopping pattern, purchase of pregnancy-related nutrition supplements, how many kids one has currently, the age of the last born kids, estimated salary, what websites one recently visits frequently, the type of accounts one follows on social media, the google search records.

Model selection:
We can use classification tree to predict target value and its probability.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell on EC2 (see original directions) and then just paste your answers here. Recall that once you enter the "!" then filename completion should work.]

1\. How many records (lines) are in this file?

In [1]:
# Place your code here
!cat advertising_events.csv | wc -l 
 #answer is 10341

   10341

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [2]:
!cut -d "," -f 1 advertising_events.csv | sort| uniq|wc -l
#answer is 732

     732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [3]:
!cut -d "," -f 3 advertising_events.csv | sort|uniq -c |sort -n -r|awk '{print $2}'

google.com
facebook.com
youtube.com
yahoo.com
baidu.com
wikipedia.org
amazon.com
qq.com
twitter.com
taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [4]:
!grep -w "37" advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [6]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [9]:
# Place your code here
#adsTsv = pd.read_csv('/Users/yiranxu/Documents/NYUstudyMaterial/Fall2016/DSGA1001/HW/ads_dataset.tsv')
#â€œ../file.csv"
adsTsv = pd.read_csv('ads_dataset.tsv')
from pandas import DataFrame
#convert tsv file to csv file to take advantage of built-in functions
#ads = DataFrame.from_csv("/Users/yiranxu/Documents/NYUstudyMaterial/Fall2016/DSGA1001/HW/ads_dataset.tsv", sep="\t")
ads = DataFrame.from_csv("ads_dataset.tsv", sep="\t")

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaT,0,NaN,1,0.0,0.00000,0.0,0.00000,106,106,0,0,169,2130,0
NaT,0,NaN,1,0.0,0.00000,0.0,0.00000,72,72,0,0,154,1100,0
NaT,0,NaN,1,0.0,0.00000,0.0,0.00000,5,5,0,0,4,12,0
NaT,0,NaN,1,0.0,0.00000,0.0,0.00000,6,6,0,0,150,539,0
NaT,0,NaN,2,0.0,0.50000,0.0,-101.14930,101,101,0,1,103,362,0
NaT,0,NaN,1,0.0,0.00000,0.0,0.00000,42,42,0,0,17,35,0
NaT,0,NaN,1,0.0,0.00000,0.0,0.00000,42,42,0,0,42,110,0
NaT,0,NaN,2,0.0,29.79167,0.0,-106.18830,121,121,0,1,101,401,0
NaT,0,NaN,3,0.0,45.47917,0.0,-34.14473,64,64,0,1,100,298,0
NaT,0,NaN,1,0.0,0.00000,0.0,0.00000,13,13,0,0,53,247,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [10]:
def getDfSummary(input_data):
    # Place your code here
    summary=input_data.describe().transpose() #get a dataframe summary statistics(there is no number_nan,nunber_distinct columns)
    number_nan = pd.Series(input_data.isnull().sum(), name = 'number_nan') #count the number of missing not-a-number values and convert it to series
    summary.insert(0, 'number_nan', number_nan) #insert the above series into summary dataframe as the first column 
    #notice describe() has already excluded NaN values
    #use Series.value_counts to ignore missing, NA, and Null values:
    number_distinct=input_data.apply(lambda x: len(x.value_counts())) #get number of distinct values a variable can take on for each variable
    summary.insert(1, 'number_distinct', number_distinct) #insert into summary dataframe as the second column 
    return  summary

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [20]:
# Place your code here
%timeit getDfSummary(ads)

/Users/yiranxu/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

10 loops, best of 3: 89.6 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

###### Answer: 
buy_freq contains missing NaN values.

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [18]:
# Place your code here
null_data= ads[ads.isnull().any(axis=1)] #create a data frame that has just the records with a missing value
null_data.head(10) #see what it looks like
getDfSummary(null_data)

/Users/yiranxu/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,number_nan,number_distinct,count,mean,std,min,25%,50%,75%,max
isbuyer,0,1,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
buy_freq,52257,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
visit_freq,0,48,52257.0,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000
buy_interval,0,1,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
sv_interval,0,5112,52257.0,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670
expected_time_buy,0,1,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
expected_time_visit,0,13351,52257.0,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192
last_buy,0,189,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000
last_visit,0,189,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000
multiple_buy,0,1,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
multiple_visit,0,2,52257.0,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000
uniq_urls,0,207,52257.0,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000
num_checkins,0,4570,52257.0,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000
y_buy,0,2,52257.0,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000

###### Answer:The data is not missing at random. 
It correlates perfectly with "isbuyer", "buy_interval","expected_time_buy" and "multible_buy" column. 
Apparently, if a person it not a buyer, there is no record for frequency of buying, interval of buying.
Since there is no information about buying behavior if a person is not buyer, we cannot expect time of buying.
Of course, the multiple_buy column is 0 is one is not a buyer at all.
Thus, if "isbuyer" is 0, "buy_freq" will be a missing value and values for"buy_interval","expected_time_buy" and "multible_buy" columns will all be 0. 
If we want to change the missing value to a number, it should be 0.

6\. Which variables are binary?

##### Answer:
Based on getDfSummary(ads), we know "isbuyer", "multiple_buy","multiple_visit" and "y_buy" has two distinct values. 
Thus, these four variables could be binary.
To verify they are binary:

In [25]:
ads['isbuyer'].value_counts() #display distinct values and its frequency

0    52257
1     2327
Name: isbuyer, dtype: int64

In [23]:
ads['multiple_buy'].value_counts()

0    54237
1      347
Name: multiple_buy, dtype: int64

In [22]:
ads['multiple_visit'].value_counts()

0    39440
1    15144
Name: multiple_visit, dtype: int64

In [24]:
ads['y_buy'].value_counts()

0    54331
1      253
Name: y_buy, dtype: int64

All of them only take values 0 or 1.
Thus, "isbuyer", "multiple_buy","multiple_visit" and "y_buy" are indeed binary variables.